<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    
    <!-- Favicon Links -->
    <link rel="icon" href="https://www.clipartmax.com/png/small/44-448715_free-book-icon.png" type="image/png">
    <link rel="shortcut icon" href="https://www.clipartmax.com/png/small/44-448715_free-book-icon.png" type="image/png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
    <div class="container">
        <main>
            <article>
                {{ content }}
            </article>
        </main>
    </div>
    <script src="{{ site.baseurl }}/assets/js/main.js" type="module"></script>
</body>
</html>